/**** Typography ****/
/**** Variables ****/
/* line 38, D:/projects/material/css/scss.scss */
h1 {
  padding-left: 14px;
  font-size: 1.8rem;
  font-weight: 300;
  border-left: 4px solid #376c94; }

/* line 45, D:/projects/material/css/scss.scss */
nav {
  height: 60px;
  margin-bottom: 15px;
  padding: 0 18px; }
  /* line 50, D:/projects/material/css/scss.scss */
  nav .brand-logo {
    font-size: 1rem;
    font-weight: 400; }

/* line 57, D:/projects/material/css/scss.scss */
.container {
  margin-top: 15px; }

/* line 63, D:/projects/material/css/scss.scss */
.card.horizontal, .card.posts {
  padding-left: 10px;
  box-shadow: none; }

/* line 69, D:/projects/material/css/scss.scss */
.card__section {
  padding-left: 24px;
  font-size: 1.2rem;
  font-weight: 300; }

/* line 75, D:/projects/material/css/scss.scss */
.card__title {
  padding: 5px 0 0 24px;
  font-size: 24px;
  color: #000; }

/* line 81, D:/projects/material/css/scss.scss */
.card.horizontal .card-image {
  max-width: 40%; }

/* line 85, D:/projects/material/css/scss.scss */
.card .card-content {
  height: 68px;
  line-height: 1.4;
  overflow: hidden;
  padding: 8px 25px;
  text-align: left;
  font-size: 1rem; }

/* line 94, D:/projects/material/css/scss.scss */
.card__flight {
  margin-right: 0;
  transform: rotate(40deg); }

/* line 99, D:/projects/material/css/scss.scss */
.card i.left {
  margin-right: 0; }

/* line 103, D:/projects/material/css/scss.scss */
.card__author {
  font-size: 1rem;
  padding: 7px 0 0 24px; }

/* line 108, D:/projects/material/css/scss.scss */
.card__name {
  font-size: 16px;
  font-weight: 600;
  color: #000; }

/* line 114, D:/projects/material/css/scss.scss */
.card .card-action {
  border: none; }

/* line 118, D:/projects/material/css/scss.scss */
.card .btn__round {
  height: auto;
  padding: 3px 30px;
  border-radius: 20px;
  font-size: 12px; }

/* line 126, D:/projects/material/css/scss.scss */
.pagination {
  text-align: center; }
  /* line 129, D:/projects/material/css/scss.scss */
  .pagination li.active {
    background-color: #3e2723; }

/* line 134, D:/projects/material/css/scss.scss */
.card__user {
  margin: 20px 0 56px 0;
  transition: box-shadow .25s; }
  /* line 138, D:/projects/material/css/scss.scss */
  .card__user-bg {
    position: relative;
    z-index: 0; }
  /* line 143, D:/projects/material/css/scss.scss */
  .card__user-avatar {
    position: relative;
    margin-top: -25%;
    z-index: 1; }
  /* line 149, D:/projects/material/css/scss.scss */
  .card__user-name {
    margin: 14px 0 10px 0;
    text-align: center; }
  /* line 154, D:/projects/material/css/scss.scss */
  .card__user-name a {
    font-size: 1.4rem;
    color: #2d292a; }
  /* line 159, D:/projects/material/css/scss.scss */
  .card .card__user-content {
    height: 100px;
    text-align: center;
    line-height: 1.5; }
  /* line 165, D:/projects/material/css/scss.scss */
  .card__user-action {
    text-align: center; }
    /* line 168, D:/projects/material/css/scss.scss */
    .card__user-action .fa-instagram {
      color: #3c719d; }
    /* line 172, D:/projects/material/css/scss.scss */
    .card__user-action .fa-dribbble {
      color: #8f3d53; }
    /* line 176, D:/projects/material/css/scss.scss */
    .card__user-action .fa-pinterest {
      color: #a30c00; }

/* line 182, D:/projects/material/css/scss.scss */
.posts {
  margin-bottom: 56px; }
  /* line 185, D:/projects/material/css/scss.scss */
  .posts__title {
    padding-bottom: 22px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center; }
  /* line 197, D:/projects/material/css/scss.scss */
  .posts__title:before, .posts__title:after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #000; }
  /* line 204, D:/projects/material/css/scss.scss */
  .posts__text {
    flex: 2; }
  /* line 208, D:/projects/material/css/scss.scss */
  .posts__image {
    margin: 22px 0 12px 0; }
  /* line 212, D:/projects/material/css/scss.scss */
  .card .posts__description {
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    border-radius: 0;
    font-size: 14px; }
  /* line 220, D:/projects/material/css/scss.scss */
  .posts__info {
    margin-bottom: 6px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem; }
  /* line 234, D:/projects/material/css/scss.scss */
  .posts__date-icon {
    padding-right: 2px;
    font-size: 1.2rem; }

/* line 243, D:/projects/material/css/scss.scss */
.follow__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap; }

/* line 252, D:/projects/material/css/scss.scss */
.follow__item {
  margin: 6px; }

/* line 256, D:/projects/material/css/scss.scss */
.follow__item:nth-child(3n) {
  margin-right: 0; }

/* line 260, D:/projects/material/css/scss.scss */
.follow__item {
  width: 100px;
  height: 100px; }

/*# sourceMappingURL=scss.css.map */